$main-max-width: 1200px;

@media screen and (min-width: 1025px) {
    ul.global-nav {
        display: inline-block;
    }
    section, header, footer {
        main {
            max-width: $main-max-width;
        }
    }
    header, #whiskHeader h1, #whiskHeader h5 {
        padding-left: 100px;
        padding-right: 100px;
    }
    #whiskNodes{
        main {
            position: relative;
            max-width: 830px;
            &:nth-child(1) {
                max-width: 1000px;
                padding-right: 475px;
                h3, p {
                    text-align: left;
                }
                .image-wrapper {
                    position: absolute;
                    max-width: 48%;
                    transform: translateY(-50%);
                    img {
                        max-width: 425px;
                    }
                }
            } 
        }
    }
}