.site-header {
    margin-top: 0;
    background-color: $color-blue-dark;
    border-bottom: 1px solid $color-gray-light;

    &__nav {
        margin-top: 0;
        &--secondary {
            display: none;
            @media (min-width: $breakpoint-sm) {
                display: block;
            }
        }
    }
    @supports (display: flex) {
        display: flex;
        flex-direction: column;
        &__nav {
            flex: 1;
        }
    }
}
