.site-section {
    margin-top: 0;
    font-family: $font-family-default;
    font-size: 1rem;
    font-weight: $font-weight-default;
    &--vertical-padding {
        padding-bottom: 4.5rem;
        padding-top: 4.5rem;
    }
    &--gradient {
        background-color: $color-white;
    }

  &--ultralight-blue {
    background-color: $color-blue-ultralight;
  }

  &--light-blue {
    background-color: $color-blue-ultralight;
  }

  &--medium-blue {
    background-color: $color-blue-medium;
  }

  &--blue {
    background-color: $color-blue-dark-text;
  }

  &--gray {
    background-color: $color-gray-light;
  }
}
