<header>
    <a class="logo" href="/"></a>
    <div class="nav-buttons">
        <ul class="global-nav">
            <li>
                <a href="{{ site.github.url }}/about.html">Documentation</a>
            </li>
            <li>
                <a href="{{ site.github.url }}/developers.html">Developers</a>
            </li>
            <li>
                <a href="{{ site.github.url }}/contributors.html">Contributors</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk-external-resources">Resources</a>
            </li>
            <li>
                <a href="https://github.com/apache?q=openwhisk" title="Apache OpenWhisk project repositories on GitHub">
                    <img src="{{ site.github.url }}/images/icon-github.svg" alt="Apache OpenWhisk project repositories on GitHub">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA" title="Apache OpenWhisk on YouTube" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-youtube.svg" alt="Apache OpenWhisk on YouTube">
                </a>
            </li>
            <li>
                <a href="http://www.slideshare.net/OpenWhisk" title="Apache OpenWhisk on SlideShare" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-slideshare.svg" alt="Apache OpenWhisk on SlideShare">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/search?q=openwhisk" title="Apache OpenWhisk on Twitter" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-twitter.svg" alt="Apache OpenWhisk on Twitter">
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/questions/tagged/openwhisk" title="Apache OpenWhisk on Stack Overflow" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-stack-overflow.svg" alt="Apache OpenWhisk on Stack Overflow">
                </a>
            </li>
            <li>
                <a href="slack.html" title="Apache OpenWhisk on Slack" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-slack.svg" alt="Apache OpenWhisk on Slack">
                </a>
            </li>
            <li>
                <a href="https://medium.com/openwhisk" title="Apache OpenWhisk on Medium" class="site-nav__item">
                    <img class="site-nav__image" src="{{ site.github.url }}/images/icon-medium.svg" alt="Apache OpenWhisk on Medium">
                </a>
            </li>
        </ul>
    </div>
</header>