<div class="header">
<!--
    <div style="background:violet; display:table-cell;">
        <a href="{{ {{ site.github.url }}/images/apache-openwhisk.svg"><img width="330" height="50" style="background:blue; display:table-cell;" src="{{ {{ site.github.url }}/images/apache-openwhisk.svg"></a>
    </div>
-->
    <div class="logo"><a href="{{ {{ site.github.url }}/images/apache-openwhisk.svg"></a></div>
    <div style="background:red; display:table-cell;width:200px;height:20px">
                <a style="display:inline;height:20px" href="{{ site.github.url }}/documentation.html">Documentation</a>
                <a href="{{ site.github.url }}/community.html">Community</a>
    </div>
    <div style="background:lightblue; display:table-cell;width:200px;height:20px;vertical-align: middle;">
                <a style="display:inline;height:20px" href="{{ site.github.url }}/documentation.html">Documentation</a>
                <a style="display:inline;height:20px" href="{{ site.github.url }}/community.html">Community</a>
    </div>
    <div style="background:magenta; display:table-cell;width:200px">
        <div style="display:block;width:100px;">
                <a style="display:inline;" href="https://github.com/apache?q=openwhisk" title="Apache OpenWhisk project repositories on GitHub">
                    <img src="{{ site.github.url }}/images/icon-github.svg" alt="Apache OpenWhisk project repositories on GitHub">
                </a>
                <a style="display:inline;" href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA" title="Apache OpenWhisk on YouTube">
                    <img src="{{ site.github.url }}/images/icon-youtube.svg" alt="Apache OpenWhisk on YouTube">
                </a>
        </div>
    </div>

    <!--
    <div style="background:magenta; display:table-cell;width:200px">
                <a href="https://github.com/apache?q=openwhisk" title="Apache OpenWhisk project repositories on GitHub">
                    <img src="{{ site.github.url }}/images/icon-github.svg" alt="Apache OpenWhisk project repositories on GitHub">
                </a>
                <a href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA" title="Apache OpenWhisk on YouTube">
                    <img src="{{ site.github.url }}/images/icon-youtube.svg" alt="Apache OpenWhisk on YouTube">
                </a>
                <a href="http://www.slideshare.net/OpenWhisk" title="Apache OpenWhisk on SlideShare">
                    <img src="{{ site.github.url }}/images/icon-slideshare.svg" alt="Apache OpenWhisk on SlideShare">
                </a>
                <a href="https://twitter.com/search?q=openwhisk" title="Apache OpenWhisk on Twitter">
                    <img src="{{ site.github.url }}/images/icon-twitter.svg" alt="Apache OpenWhisk on Twitter">
                </a>
                <a href="http://stackoverflow.com/questions/tagged/openwhisk" title="Apache OpenWhisk on Stack Overflow">
                    <img src="{{ site.github.url }}/images/icon-stack-overflow.svg" alt="Apache OpenWhisk on Stack Overflow">
                </a>
                <a href="slack.html" title="Apache OpenWhisk on Slack">
                    <img src="{{ site.github.url }}/images/icon-slack.svg" alt="Apache OpenWhisk on Slack">
                </a>
                <a href="https://medium.com/openwhisk" title="Apache OpenWhisk on Medium">
                    <img src="{{ site.github.url }}/images/icon-medium.svg" alt="Apache OpenWhisk on Medium">
                </a>
    </div>
-->
</div>