<div class="header">

    <a class="header-section-logo" href="/">
      <!-- TODO try moving <img> here instead (as a background of a child container)-->
    </a>
    <div class="header-section-text-links">
        <div class="header-row-text-links">
            <a style="display:inline;height:20px" href="{{ site.github.url }}/documentation.html">Documentation</a>
            <a href="{{ site.github.url }}/community.html">Community</a>
        </div>
    </div>
    <div class="header-section-social-icons">
        <div class="header-row-social-icons">
            <a class="header-button-icon" href="https://www.youtube.com/channel/UCbzgShnQk8F43NKsvEYA1SA" title="Apache OpenWhisk on YouTube">
                <img src="{{ site.github.url }}/images/icon-youtube.svg">
            </a>
            <a class="header-button-icon" href="http://www.slideshare.net/OpenWhisk" title="Apache OpenWhisk on SlideShare">
                <img src="{{ site.github.url }}/images/icon-slideshare.svg">
            </a>
            <a class="header-button-icon" href="https://twitter.com/search?q=openwhisk" title="Apache OpenWhisk on Twitter">
                <img src="{{ site.github.url }}/images/icon-twitter.svg">
            </a>
            <a class="header-button-icon" href="http://stackoverflow.com/questions/tagged/openwhisk" title="Apache OpenWhisk on Stack Overflow">
                <img src="{{ site.github.url }}/images/icon-stack-overflow.svg">
            </a>
            <a class="header-button-icon" href="slack.html" title="Apache OpenWhisk on Slack">
                <img src="{{ site.github.url }}/images/icon-slack.svg">
            </a>
            <a class="header-button-icon" href="https://medium.com/openwhisk" title="Apache OpenWhisk on Medium">
                <img src="{{ site.github.url }}/images/icon-medium.svg">
            </a>
            <a class="header-button-icon" style="order: 2;" href="https://github.com/apache?q=openwhisk" title="Apache OpenWhisk project repositories on GitHub">
                <img src="{{ site.github.url }}/images/icon-github.svg">
            </a>
        </div>
    </div>
</div>
