@import "reset";

$h1-font-size: 32px;
$h1-line-height: 40px;

$h2-font-size: 28px;
$h2-line-height: 60px;

$h3-font-size: 24px;
$h3-line-height: 32px;

$h4-font-size: 20px;
$h4-line-height: 40px;

$h5-font-size: 16px;
$h5-line-height: 36px;

$p-font-size: 14px;
$p-line-height: 22px;

// header
$full-width-paddingX: 10px;

$main-width: 100%;
$main-max-width: 100%;

$header-height: 80px;

$logo-width: 180px;

$nav-buttons-margin-left: 30px;

$menu-size: 50px;

// main nav
$main-nav-padding: 140px 0 30px;
$main-nav-h5-margin-bottom: 1em;
$main-nav-h3-margin-bottom: 0.6em;
$nav-box-width: 20%;
$nav-box-sibling-margin-left: calc(20% / 3);
// TODO: explore the affect of this value, used in _size.scss
//$main-nav-main-sibling-margin-top: 60px;
$main-nav-left-button-size: 50px;
$main-nav-left-button-font-size: 18px;

// hero
$whisk-header-padding-top: 80px;

@import "size";

// Adjust this value to control spacing between <main> content sections
$whisk-nodes-padding-Y: 50px;
$whisk-nodes-h3-margin-bottom: 30px;

body {
    background-color: $color-white;
}

section {
    position: relative;
    background-color: $color-white;
}

section, header, footer {
    main {
        position: relative;
        margin: auto;
    }
}
p {
    font-size: 14px;
    font-weight: 400;
}
.button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-white;
	background-color: $color-blue-dark;
    text-decoration: none;
}
.footer-button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-blue-dark;
	background-color: $color-white;
	text-decoration: none;
    font-weight: 600;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8888;
	background-color: $color-blue-dark;
	box-shadow: 0 0 0 transparent;
	overflow: hidden;
	transition: 0.3s;
	text-align: center;
}

.logo {
	position: relative;
	float: left;
	display: block;
	width: 180px;
	height: 88px;
	top: 0;
	left: 0;
	transform: none;
	background-image: url(/images/apache-openwhisk.svg);
	background-size: contain;
	background-position: center center;
    background-repeat: no-repeat;
}
.nav-buttons {
    float: right
}
.footer-buttons {
    float: middle;
}
#whiskHeader {
    background-color: $color-blue-dark;
    color: $color-white;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    position: relative;
    &.bot-bar:after {
        display: block;
        margin-bottom: -20px;
        height: 8px;
        width: 100%;
        background-color: transparentize($color: $color-white, $amount: 0.9);
        content: '';
    }
    &.no-sub {
        h5 {
            display: none;
        }
        h1 {
            margin-bottom: 20px;
        }
    }
}
#home #whiskHeader::after {
    display: none;
}

#home {
	#whiskHeader {
        // TODO: explore the value of these styles for spacing
		margin-bottom: 0;
		padding-bottom: 1px;
		main {
			padding: 0 10px;
            margin-bottom: 10px;
        }
    }
}

#whiskNodes {
    padding-top: $whisk-nodes-padding-Y;
    padding-bottom: $whisk-nodes-padding-Y;
    color: $color-blue-dark;

    main {
        background: $color-bg-base-main;
        margin-bottom: $whisk-nodes-padding-Y;
        min-height: 200px;
        display: table;
    }
    .content {
        background: $color-bg-base-content;
        margin: 10px 10px 10px 10px;
        height: 100%;
    }
    .image-wrapper {
        background: $color-bg-base-image-wrapper;
        display:table-header-group;
        top: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    img{
        background: $color-bg-base-img;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // These values prevent uneven scaling of images sizes based upon max. sizes
        // of the image-wrapper container
        max-height: 220px;
        max-width: 556px;
    }
    h3 {
        margin-bottom: $whisk-nodes-h3-margin-bottom;
    }
}

ul.global-nav {
	display: none;
	li {
		display: inline-block;
        margin-right: 14px;
		a {
			color: $color-white;
			font-weight: 600;
			padding: 0;
			position: relative;
        }
    }
}

section {
    background-color: $color-white;
}

#whiskHeader {
	background-color: $color-blue-dark;
	h5 {
        margin-top: 2px;
        margin-bottom: 20px;
        line-height: 28px;
    }
}

footer {
	width: 100%;
    background-color: $color-blue-dark;
    margin: 20px 0;
	main {
        padding: 20px 0;
    }
}

#miceType {
	clear: both;
	font-size: 11px;
	line-height: 18px;
    color: #aaa;
}

#menu {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background: none;
	div, &:before, &:after {
		position: absolute;
		left: 15%;
		width: 70%;
		height: 2px;
		background-color: $color-blue-dark;
		transition: 0.3s;
        content: "";
    }
	div {
        top: calc(50% - 1px)
    }

	&:before {
        top: 24%
    }

	&:after {
        bottom: 24%
    }

	&:hover {
		div, &:before, &:after {
            background-color: $color-white;
        }
    }
}

#whiskDoc {
	position: relative;
	//padding: 50px 20px 20px 20px;
	overflow: hidden;
	font-size: 14px;
    color: $color-blue-dark;
	& > div {
        height: 100%;
        text-align: center;
    }
    h1 {
        padding-top: 3% !important;
        padding-bottom: 1.5% !important;
        padding-left: 3% !important;
        padding-right: 3% !important;
        text-align: center !important;
        font-size: 22pt !important;
        font-weight: normal;
    }
    .button {
        margin: 1%;
    }
}

#usersDoc, #developersDoc, #contributorsDoc {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: $color-blue-dark;
    padding-top: 10px;
    h2, h4, p  {
        text-align: left;
    }
    .button {
        margin: 1%;
    }
    ul, li {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: square;
        font-size: 18px;
    }
}