@import "reset";

$h1-font-size: 32px;
$h1-line-height: 40px;

$h2-font-size: 28px;
$h2-line-height: 60px;

$h3-font-size: 24px;
$h3-line-height: 32px;

$h4-font-size: 20px;
$h4-line-height: 40px;

$h5-font-size: 16px;
$h5-line-height: inherit;

$p-font-size: 14px;
$p-line-height: 22px;

// header
$full-width-paddingX: 10px;
$main-width: 100%;
$main-max-width: 100%;
$header-height: 80px;
$logo-width: 330px;
$logo-height: 80px;

@import "size";

// Adjust this value to control spacing between <main> content sections
$whisk-nodes-padding-Y: 30px;
$whisk-nodes-h3-margin-bottom: 30px;

body {
    background-color: $color-white;
}

section {
    position: relative;
    background-color: $color-white;
}

section, header, footer {
    main {
        position: relative;
        margin: auto;
    }
}
p {
    font-size: 14px;
    font-weight: 400;
}
.button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-white;
	background-color: $color-blue-dark;
    text-decoration: none;
}
.footer-button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-blue-dark;
	background-color: $color-white;
	text-decoration: none;
    font-weight: 600;
}

.header {
  display: table;
  background-color: $color-header-bg;
  position: fixed;
  z-index: 8888;
  top: 0;
  width: 100%;
  height: $header-height;

  // Assure that menu items have white foreground and proper spacing
  a {
    color: $color-header-fg;
    // TODO: explore moving this to an outer div
    padding: 4px;

    // TODO: explore turning text links into buttons as well
    border: 2px solid $color-header-icon-border;
    border-radius: 4px;
  }
}

.header-section-logo {
    display: block;
    position: relative;
    width: $logo-width;
    height: $logo-height;
    padding: 0px;
    background-color: $color-header-bg-section-logo;
    background-image: url(/images/apache-openwhisk.svg);
    background-size: contain;
    // Note: this is how we provide the left margin on the header
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none !important;

    // XXX - table-cell causes img to shrink when window shrinks
    // block does not, but need to see if we can then block other 2 menu
    // Use 'min-width' if we attempt to use table-cell again
    // display: table-cell
}

.header-section-text-links {
    display: table-cell;
    background: $color-header-bg-section-menu-text;
    width: 33%;
    min-width: 280px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.header-section-social-icons {
    display: table-cell;
    background: $color-header-bg-section-menu-icons;
    width: 33%;
    vertical-align: middle;

    // XXX - min-width had no effect for some reason...
    //min-width: 280px;
}

.header-row-text-links {
    // TODO: shrink text link row (div) height to have no padding/margin top & bottom
    display: inline;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header-row-social-icons {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 10px;  // has some affect... for flex
    padding-right: 20px; // has some affect... for flex
}

.header-button-icon {
    display: inline-block;
    background-color: $color-header-icon-bg;
    border: 1px solid $color-header-icon-border;
    border-radius: 4px;
    align: center;
    height: 36px;
    width: 36px;
    margin-right: 4px;
}

.header-text-link {
    display:inline;
    background-color: $color-header-icon-bg;
    height:20px;
}

.header-icon-image {
   background: $color-header-icon-bg-image;
   width: 26px;
   padding: 0px;
}

.footer-buttons {
    float: middle;
}

#whiskHeader {
    background-color: $color-blue-dark;
    color: $color-white;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

// TODO: explore before & after effects
//#home #whiskHeader::after {
//    display: none;
//}

#home {
	#whiskHeader {
        // TODO: explore the value of these styles for spacing
		margin-bottom: 0;
		padding-bottom: 1px;
		main {
			padding: 0 10px;
            margin-bottom: 10px;
        }
    }
}

#whiskNodes {
    padding-top: $whisk-nodes-padding-Y;
    padding-bottom: $whisk-nodes-padding-Y;
    color: $color-blue-dark;

    main {
        background: $color-bg-base-main;
        margin-bottom: $whisk-nodes-padding-Y;
        min-height: 200px;
        display: table;
    }
    .content {
        background: $color-bg-base-content;
        margin: 10px 10px 10px 10px;
        height: 100%;
    }
    .image-wrapper {
        background: $color-bg-base-image-wrapper;
        display:table-header-group;
        top: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    img{
        background: $color-bg-base-img;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // These values prevent uneven scaling of images sizes based upon max. sizes
        // of the image-wrapper container
        max-height: 220px;
        max-width: 556px;
    }
    h3 {
        margin-bottom: $whisk-nodes-h3-margin-bottom;
    }
}

section {
    background-color: $color-white;
}

#whiskHeader {
	background-color: $color-blue-dark;
	h5 {
        //background: yellow;
        margin-top: 0px;
        margin-bottom: 0px;
        // This affects the margin below the apparent blue area
        //line-height: 38px;
    }
}

footer {
	width: 100%;
    background-color: $color-blue-dark;
    margin: 20px 0;
	main {
        padding: 20px 0;
    }
}

#miceType {
	clear: both;
	font-size: 11px;
	line-height: 18px;
    color: #aaa;
}

//#whiskDoc {
//	position: relative;
//	overflow: hidden;
//	font-size: 14px;
//    color: $color-blue-dark;
//	& > div {
//        height: 100%;
//        text-align: center;
//    }
//    h1 {
//        padding-top: 3% !important;
//        padding-bottom: 4% !important;
//        padding-left: 3% !important;
//        padding-right: 3% !important;
//        text-align: center !important;
//        font-size: 22pt !important;
//        font-weight: normal;
//    }
//    .button {
//        margin: 1%;
//    }
//}

#doc {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    h1 {
        text-align: center
    }
    .button {
        margin: 1%;
    }
    ul, li {
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        list-style: disc;
    }
    a {
        font-weight: bold;
    }
    .code {
        color: $color-white;
        background: $color-header-icon-bg;
        padding-left: 5px;
        width: auto;
    }
}

#toc_container {
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

