/*
 * Base stylesheet for small form factors
 */

// Adjust header values
$full-width-paddingX: 10px;
$main-width: 100%;
$main-max-width: 100%;
$header-height: 80px;
$logo-width: 330px;
$logo-height: 80px;

// Adjust this value to control spacing between <main> content sections
$whisk-nodes-padding-Y: 30px;
$whisk-nodes-h3-margin-bottom: 30px;

section, header {
    padding-left: $full-width-paddingX;
    padding-right: $full-width-paddingX;
    main {
        width: $main-width;
        max-width: $main-max-width;
    }
}

#whiskHeader {
    padding-top: $whisk-header-base-padding-top;
}

#docs {
    #whiskHeader {
        h1, h5 {
            padding-left: $full-width-paddingX;
            padding-right: $full-width-paddingX;
        }
    }
}

p {
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: $color-white;
}

section {
    position: relative;
    background-color: $color-white;
}

section, header, footer {
    main {
        position: relative;
        margin: auto;
    }
}

.button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-white;
	background-color: $color-blue-dark;
    text-decoration: none;
}
.footer-button {
	display: inline-block;
	border-radius: 6px;
	padding: 0 20px;
	line-height: 40px;
	color: $color-blue-dark;
	background-color: $color-white;
	text-decoration: none;
    font-weight: 600;
}

.header {
  display: table;
  background-color: $color-header-bg;
  position: fixed;
  z-index: 8888;
  top: 0;
  width: 100%;
  // TODO: make a variable
  height: 80px;
  padding-bottom: 0px;

  // Assure that menu items have white foreground and proper spacing
  a {
    color: $color-header-fg;
    // TODO: explore moving this to an outer div
    padding: 4px;

    // TODO: explore turning text links into buttons as well
    border: 2px solid $color-header-icon-border;
    border-radius: 4px;
  }
}

.header-section-logo {
    display: block;
    //display: table-header-group;
    position: relative;
    width: $logo-width;
    height: $logo-height;
    padding: 0px;
    background-color: $color-header-bg-section-logo;
    background-image: url(/images/apache-openwhisk.svg);
    //background-size: auto;
    background-size: 300px 100px;
    // Note: this is how we provide the left margin on the header
    //background-position: center center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none !important;
}

.header-section-text-links {
    //display: table-cell;
    display: table-row-group;
    background: $color-header-bg-section-menu-text;
    width: 33%;
    min-width: 280px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.header-section-social-icons {
    //display: table-cell;
    display: table-footer-group;
    background-color: $color-header-bg-section-menu-icons;
    width: 33%;
    vertical-align: middle;

    // XXX - min-width had no effect for some reason...
    //min-width: 280px;
}

.header-row-text-links {
    // TODO: shrink text link row (div) height to have no padding/margin top & bottom
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header-row-social-icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-button-icon {
    flex: 0 0 auto;
    background-color: $color-header-icon-bg;
    border: 1px solid $color-header-icon-border;
    border-radius: 4px;
    align: center;
    height: 36px;
    width: 36px;
    margin-right: 4px;
}

.header-text-link {
    flex: 0 0 auto;
    background-color: $color-header-icon-bg;
    margin: 3px;
}

.header-icon-image {
   background: $color-header-icon-bg-image;
   width: 26px;
   padding: 0px;
}

.footer-buttons {
    float: middle;
}

#whiskHeader {
    background-color: $color-blue-dark;
    color: $color-white;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

#home {
	#whiskHeader {
        // TODO: explore the value of these styles for spacing
		margin-bottom: 0;
		padding-bottom: 1px;
		main {
			padding: 0 10px;
            margin-bottom: 10px;
        }
    }
}

#whiskNodes {
    padding-top: $whisk-nodes-padding-Y;
    padding-bottom: $whisk-nodes-padding-Y;
    color: $color-blue-dark;

    main {
        background: $color-bg-base-main;
        margin-bottom: $whisk-nodes-padding-Y;
        min-height: 200px;
        display: table;
    }
    .content {
        background: $color-bg-base-content;
        margin: 10px 10px 10px 10px;
        height: 100%;
    }
    .image-wrapper {
        background: $color-bg-base-image-wrapper;
        display:table-header-group;
        top: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    img{
        background: $color-bg-base-img;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // These values prevent uneven scaling of images sizes based upon max. sizes
        // of the image-wrapper container
        max-height: 220px;
        max-width: 556px;
    }
    h3 {
        margin-bottom: $whisk-nodes-h3-margin-bottom;
    }
}

section {
    background-color: $color-white;
}

#whiskHeader {
	background-color: $color-blue-dark;
	h5 {
        //background: yellow;
        margin-top: 0px;
        margin-bottom: 0px;
        // This affects the margin below the apparent blue area
        //line-height: 38px;
    }
}

footer {
	width: 100%;
    background-color: $color-blue-dark;
    margin: 20px 0;
	main {
        padding: 20px 0;
    }
}

#miceType {
	clear: both;
	font-size: 11px;
	line-height: 18px;
    color: #aaa;
}

#doc {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    h1 {
        text-align: center
    }
    .button {
        margin: 1%;
    }
    ul, li {
        padding-left: 20px;
        padding-bottom: 10px;
        list-style: disc;
    }
    a {
        font-weight: bold;
    }
    .code {
        color: $color-white;
        background: $color-header-icon-bg;
        padding-left: 5px;
        width: auto;
    }
}

#toc_container {
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

.main-content__columns{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:-3.25rem;
}

.main-content__column--3-across{
    max-width:30%;
    min-width:261px
}

.main-content__column--gray-light{
    background-color:#f0f8fd;
}

.main-content__columns--reverse {
    flex-direction:row-reverse;
}

.main-content__columns--vertical-center{
    align-items:center;
}

.main-content__column+.main-content__column{
    margin-top:2rem;
}
