$main-max-width: 1200px;

@media screen and (min-width: 1025px) {
    #menu {
        display: none;
    }
    ul.global-nav {
        display: inline-block;
    }
    section, header, footer {
        main {
            max-width: $main-max-width;
        }
    }
    header, #whiskHeader h1, #whiskHeader h5, #whiskDoc, #usersDoc, #developersDoc, #contributorsDoc {
    }
    #home {
        section, header, footer {
          main {
            max-width: 100%;
          }
        }
    }
    #whiskNodes{
        main {
            position: relative;
//            max-width: 830px;
            background: Lavender;
//            &:nth-child(1) {
//                max-width: 1000px;
//                padding-right: 475px;
//                .image-wrapper {
//                    position: absolute;
//                    max-width: 48%;
//                    transform: translateY(-50%);
//                    // this width affects the image when side-by-side with text
//                    img {
//                        max-width: 48%;
//                    }
//                }
//            }
        }
    }
    footer {
        width: 100%;
        background-color: $color-blue-dark;
        main {
            padding: 20px 0;
        }
    }
}
#whiskDoc {
    //padding: 50px 50px 100px 100px;
    clear: both;
}
@media screen and (min-width: 1300px) {

}

@media screen and (min-width: 456px) {
}