$main-max-width: 1280px;

@media screen and (min-width: 1000px) {
    #menu {
        display: none;
    }
    ul.global-nav {
        // XXX
        //display: inline-block;
    }
    section, header, footer {
        main {
            max-width: $main-max-width;
        }
    }
    header, #whiskHeader h1, #whiskHeader h5, #whiskDoc, #usersDoc, #developersDoc, #contributorsDoc {
    }
    #home {
        section, header, footer {
        }
    }
    #whiskNodes{
        main {
            background: $color-bg-desktop-main;
            position: relative;

            .content {
                width: 60%;
            }
            .image-wrapper {
                width: 40%;
            }
        }
    }
    footer {
        width: 100%;
        background-color: $color-blue-dark;
        main {
            padding: 20px 0;
        }
    }
}
#whiskDoc {
    clear: both;
}
@media screen and (min-width: 1300px) {

}

@media screen and (min-width: 456px) {
}