h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
}

p {
    font-size: $p-font-size;
    line-height: $p-line-height;
    margin-top: 0px;
    margin-bottom: 12px;
}

section, header {
    padding-left: $full-width-paddingX;
    padding-right: $full-width-paddingX;
    main {
        width: $main-width;
        max-width: $main-max-width;
    }
}

#whiskHeader {
    padding-top: $whisk-header-padding-top;
}

#docs {
    #whiskHeader {
        h1, h5 {
            padding-left: $full-width-paddingX;
            padding-right: $full-width-paddingX;
        }
    }
}
