
* {
    box-sizing: border-box;
    font-family: $font-family-default;
    background: none;
    border: 0
}

body {
    font-family: $font-family-default;
}

h1, h2, h3, h4, h5 {
    font-weight: $font-weight-bold;
    margin: 0;
}

h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
}

p {
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
    color: $p-text-color
}

.light-text {
    color: $color-fg-base-light-text
}
