@media screen and (min-width: 800px) {
    p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    h4 {
        font-size: 24px;
        line-height: 40px;
    }
    ul.global-nav {
        display: inline-block;
    }

    #whiskNodes {
        h3 {
            text-align: left;
            margin-bottom: 18px;
        }
        main {
            background: $color-bg-tablet-main;
            position: relative;
            clear: both;
            display: table;

            .content {
                display: table-cell;
                // Margins do not work on table-cell types, must use border
                border: $color-bg-tablet-content-border;
                position: relative;
                //vertical-align: middle;
                align: center;
                width: 50%;
            }
            .image-wrapper {
                position: absolute;
                border: $color-bg-tablet-image-wrapper-border;
                width: 50%;
            }
//            &:nth-child(odd) {
//              padding-right: 210px;
//                .image-wrapper {
//                    right: 0;
//                }
//            }
//            &:nth-child(even) {
//                padding-left: 210px;
//                .image-wrapper {
//                    left: 0;
//                }
//            }
//            &:nth-child(1) {
//                padding-right: 0;
//                .image-wrapper {
//                }
//                .content {
//                }
//            }
//            img {
//                max-height: 200px;
//            }
        }
    }
    footer {
        nav {
            text-align: center;
        }
    }
}