@media screen and (min-width: $media-size-tablet-start) {
    p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    h4 {
        font-size: 24px;
        line-height: 40px;
    }
    .header {
        height: $header-height;
        padding-bottom: 0px;
        background-position: 10px center;
        background-size: contain;
    }
    .header-section-logo {
        display: table-cell;
    }
    .header-section-text-links {
        display: table-cell;
    }

    .header-section-social-icons {
        display: table-cell;
    }

    #whiskHeader {
        padding-top: $whisk-header-padding-top;
        // TODO: make variable
        //padding-top: 170px;
    }

    #whiskNodes {
        h3 {
            text-align: left;
            margin-bottom: 18px;
        }
        main {
            background: $color-bg-tablet-main;
            position: relative;
            clear: both;
            display: table;

            .content {
                display: table-cell;
                // Margins do not work on table-cell types, must use border
                border: $color-bg-tablet-content-border;
                position: relative;
                align: center;
                width: 50%;
            }
            .image-wrapper {
                position: absolute;
                border: $color-bg-tablet-image-wrapper-border;
                width: 50%;
            }

        }
    }
    footer {
        nav {
            text-align: center;
        }
    }
}
