@media screen and (min-width: $media-size-tablet-start) {
    p {
        // TODO: make variables
        font-size: 16px;
        line-height: 24px;
    }
    .header {
        // TODO: make variables
        height: $header-height;
        padding-bottom: 0px;
        background-position: 10px center;
        background-size: contain;
    }
    .header-section-logo {
        display: block;
    }
    .header-section-text-links {
        display: table-cell;
    }

    .header-section-social-icons {
        display: table-cell;
    }

    footer {
        // top-bottom, left-right
        padding: $whisk-footer-base-padding-tablet;
    }

    #whiskHeader {
        padding-top: $whisk-header-tablet-padding-top;
    }

    #whiskNodes {

        padding-left: $whisk-nodes-padding-tablet-X;
        padding-right: $whisk-nodes-padding-tablet-X;

        main {
            clear: both;
            display: table;
            background: $color-bg-tablet-main;
            position: relative;

            .content {
                display: table-cell;
                position: relative;
                width: $media-size-tablet-main-content-width;
                padding: $whisk-nodes-main-content-padding-tablet;

                // No top margin needed when content & image-wrapper are horz.
                margin-top: 0px;
            }
            .image-wrapper {
                // Note: table-cell value does not seem to matter here
                //display: table-cell;
                // Important! "absolute" forces the image-wrapper to appear side-by-side with content
                position: absolute;
                width: $media-size-tablet-main-image-wrapper-width;
                border: $color-bg-tablet-image-wrapper-border;

                // Fixup border in horz. layout
                // TODO: see if we can appy this ONLY when image appears on the right side of content
                border-right-width: 20px;
            }

            img{
            // These values prevent uneven scaling of images sizes based upon max. sizes
            // of the image-wrapper container
            max-height: 100px;
            max-width: 200px;
    }
        }
        h3 {
            text-align: left;
            margin-bottom: 18px;
        }
    }
}
