/*
 * # Sizing
 */
 $max-width-lg: 1025px;

 /*
  * # Colors
  */
 $color-blue-light: #90e5fd;
 $color-blue-medium: #5aaafa;
 $color-blue-dark: #29558f;
 $color-blue-dark-text: #29648f;
 $color-blue-hover: transparentize($color-blue-dark, 0.94);
 $color-gray-light: #f0f8fd;
 $color-gray-medium: #3b667d;
 $color-gray-dark: #152934;
 $color-gray-light-text: #9da6ab;
 $color-green-light: #6eedd8;
 $color-white: #fff;
 $color-gradient-start: #ccdaff;
 $color-gradient-end: #00fff7;
 $color-blue-black: #162c49;

 /*
  * # Logo Colors
  */
 $color-logo-deeper-steel-blue: #325c80;
 $color-logo-deeper-sky-blue: #5aaafa;
 $color-logo-deeper-sea-green: #008571;
 $color-logo-deeper-aquamarine: #6eedd8;

 /*
  * # Fonts
  */
 $font-family-heading: "Roboto", sans-serif;
 $font-family-default: sans-serif;
 $font-weight-default: 300;
 $font-weight-bold: 700;
 $font-weight-black: 900;

 /*
  * # Responsive
  */
 $breakpoint-sm: 456px;
 $breakpoint-md: 750px;
 $breakpoint-lg: 1025px;
 $breakpoint-ex-lg: 1300px;
