/*
 * # Sizing
 */
 $max-width-lg: 1025px;

 /*
  * # Colors
  */
 $color-blue-light: #ebf1f9;
 $color-blue-medium: #88addd;
 $color-blue-dark: #29558f;
 $color-blue-dark-text: #0b1828;
 $color-blue-black: #0b1828;
 $color-blue-hover: transparentize($color-blue-dark, 0.94);
 $color-blue-gray-light: #eff2f5;
 $color-blue-gray-medium: #afbdcf;
 $color-blue-gray-dark: #455973;
 $color-blue-gray-light-text: #9da6ab;
 $color-blue-dark-text: #233c5c;
 $color-white: #fff;

 /*
  * # Logo Colors
  */
 $color-logo-deeper-steel-blue: #325c80;
 $color-logo-deeper-sky-blue: #5aaafa;
 $color-logo-deeper-sea-green: #008571;
 $color-logo-deeper-aquamarine: #6eedd8;

 /*
  * # Layout Colors
  */
  /*
 $color-bg-base-main: white;
 $color-bg-base-image-wrapper: white;
 $color-bg-base-content: ghostwhite;
 $color-bg-base-img: white;
 $color-bg-tablet-main: white;
 $color-bg-desktop-main: white;
*/

 /*
  * # Layout Colors (DEBUG)
  */
 $color-bg-base-main: red;
 $color-bg-base-content: ghostwhite;
 $color-bg-base-image-wrapper: green;
 $color-bg-base-img: yellow;
 $color-bg-tablet-main: magenta;
 $color-bg-desktop-main: darkviolet;

 /*
  * # Fonts
  */
 $font-family-heading: "Roboto", sans-serif;
 $font-family-default: sans-serif;
 $font-weight-default: 300;
 $font-weight-bold: 700;
 $font-weight-black: 900;

 /*
  * # Responsive
  */
 $breakpoint-sm: 456px;
 $breakpoint-md: 750px;
 $breakpoint-lg: 1025px;
 $breakpoint-ex-lg: 1300px;

