---
layout: default
---
<!--
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
-->
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
        </div>
    </main>
</section>

<section id="whiskNodes">
    <h3>Community</h3>
        <p>The Apache OpenWhisk community attempts to engage its users and developers in as many channels as we are able. Please find and subscribe to the ones that are right for you!</p>
    <main id="doc">
        <div class="content">
            <h4>Social Media</h4>
            <p>The Apache OpenWhisk project is active on several social media channels which aim to make it easier for users to get started, ask qustions, stay informed and to interact with our community.</p>
            <p>Icons that link to each of the following channels are located in the header of our website and include:</p>
            <ul>
                <li><a href="">GitHub</a>: Browse the source code, documentation and tests for all the repositories that make up our project component, deployment and tooling ecosystem.</li>
                <li><a href="">Slack</a>: Engage the OpenWhisk developer community directly in conversations across several topics.</li>
                <li><a href="">Medium</a>: Read the latest blog posts on the OpenWhisk project including how-tos, use cases, architecture topics and more.</li>
                <li><a href="">YouTube</a>: See demos of OpenWhisk in action as well as recordings of community meetings and events.</li>
                <li><a href="">SlideShare</a>: Look over slides from many of the presentations from past events.</li>
                <li><a href="">Twitter</a>: Follow for the latest news from the OpenWhisk ecosystem.</li>
                <li><a href="">Stack Overflow</a>: Ask questions and find answers about how to use OpenWhisk.</li>
            </ul>
            <p>If you wish to engage our communities' Contributors and Committers around project architecture, design and source code, please subscribe to and participate in our developer mailing list as described below.</p>
        </div>
    </main>
    <main id="doc">
        <div class="content">
            <h4>How to join the Apache OpenWhisk mailing list.</h4>
            <h5>Developer mailing list<h5>
            <p>The Dev Mailing List is where we discuss the development of Apache OpenWhisk. It is <b><i>not</i></b> a place for technical support; if you're looking for help on the project, please try our <b><a href="/documentation.html">Documentation</a></b> page and engage with us on one of the Social Media channels listed above.</p>
            <p><b>Subscribe</b>: To subscribe to the list, send a message to:
                <ul>
                    <li><a href="mailto:dev-subscribe@openwhisk.incubator.apache.org">dev-subscribe@openwhisk.incubator.apache.org</a></li>
                </ul>
            </p>
            <p><b>Unsubscribe</b>: To remove your address from the list, send a message to:</p>
                <ul>
                    <li><a href="mailto:dev-unsubscribe@openwhisk.incubator.apache.org">dev-unsubscribe@openwhisk.incubator.apache.org</a></li>
                </ul>
            <p><b>Post</b>: To create a new thread, send a message to:</p>
                <ul>
                    <li><a href="mailto:dev@openwhisk.incubator.apache.org">dev@openwhisk.incubator.apache.org</a></li>
                </ul>
            <p>To comment on a thread, reply to the message.</p>
            <p><b>NOTE:</b> Make sure you add a subject line to the subscribe/unsubscribe messages. Empty emails are ignored.</p>
            <p>To see existing messages, [check out the archive](http://mail-archives.apache.org/mod_mbox/incubator-openwhisk-dev/).</p>
        </div>
    </main>

    <main id="doc">
        <div class="content">
            <h4>Project Wiki</h4>
            <p>The project maintains a <a href="https://cwiki.apache.org/confluence/display/OPENWHISK/OpenWhisk+Project+Wiki">Confluence Wiki</a> site that provides the community a means to share and comment on more permanent information. Here is a sample of some of the information you may find there:</p>
            <ul>
                <li><a href="https://cwiki.apache.org/confluence/display/OPENWHISK/OpenWhisk+Project+Wiki#how-to-contribute">How to guides</a></li>
                <ul>
                    <li>How to contribute?</li>
                    <li>How do I become a contributor or a committer?</li>
                </ul>
                <li>Policies</li>
                <li>Proposals</li>
                <li>Processes</li>
                <ul>
                    <li>Social Media (Submission)</li>
                </ul>
            </ul>
        </div>
    </main>

<!-- contact us to let us know of events, blah -->
<p>The Apache Software Foundation does not endorse listed events. Get in touch with us to suggest event listings. See social media https://openwhisk.apache.org/social</p>
</section>
