{% if page.seo_title %}
    {% assign page_title = page.seo_title %}
{% else if page.title %}
    {% assign page_title = page.title %}
{% else %}
    {% assign page_title = site.title %}
{% endif %}

<!DOCTYPE html>

<html>
<!--
# Licensed to the Apache Software Foundation (ASF) under one or more contributor
# license agreements; and to You under the Apache License, Version 2.0.
-->
<!--     <button class="collapsible" style="margin-top:100px">test</button>
    <div class="collapse-content">
    <p>The Apache OpenWhisk community attempts to engage its users and developers in as many channels as we are able. Please find and subscribe to the ones that are right for you!</p>
    </div> -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,700,900">
        <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
        <script type="text/javascript">
            {% include index/index.js %}
        </script>
    </head>
    <body onload="applyCollapsible()">
        <script src="js/main.min.js"></script>
        {% include partial/site-header.html %}
        {{ content }}
        {% include partial/site-footer.html %}
    </body>
</html>
