---
layout: default
---
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
        </div>
    </main>
</section>
<section id="whiskDoc">
    <div id="content">
        <h1>OpenWhisk Documentation</h1>
            <p>
                OpenWhisk documentation is categrorized in three seperate sections based on the following three roles:
            </p>
            <p>
                <a class="button" href="{{ site.github.url }}#usersDoc">Users</a>
                <a class="button" href="{{ site.github.url }}#developersDoc">Deverlopers</a>
                <a class="button" href="{{ site.github.url }}#contributorsDoc">Contributors</a>
            </p>
    </div>
</section>
<section id="usersDoc">
    <div id="content">
        <h2>OpenWhisk Users:</h2>
        <div>
        <h4>Operators:</h4>
        <p>
            OpenWhisk supports many different types of deployment models.
            The easiest way to start deploying OpenWhisk is to get Docker installed on Mac, Windows or Linux.
            This does not give you a production deployment but gives you enough of the pieces to start writing functions and seeing them executing.
        </p>
        <p style="text-align: center">
            <a class="button" href="https://github.com/apache/incubator-openwhisk#quick-start">OpenWhisk Deployment using Docker-Compose</a>
        </p>
        <p>
            Another path to quickly start deploying OpenWhisk is to install it on a Kubernetes cluster.
            OpenWhisk can be installed on Minikube, or on a managed Kubernetes cluster provisioned from a public cloud provider,
            or on a Kubernetes cluster you manage yourself.
        </p>
        <p style="text-align: center">
            <a class="button" href="https://github.com/apache/incubator-openwhisk#kubernetes-setup">OpenWhisk Deployment using Kubernetes</a>
        </p>
        <p>
            A Vagrant machine is also available to run OpenWhisk on Mac, Windows PC or GNU/Linux.
            Downloading and install VirtualBox and Vagrant for your operating system and architecture.
        </p>
        <p style="text-align: center">
            <a class="button" href="https://github.com/apache/incubator-openwhisk#vagrant-setup">OpenWhisk Deployment using Vagrant</a>
        </p>
        <h4>End Users:</h4>
            <p>
                <a class="button" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">Write an Action</a>
                <a class="button" href="https://github.com/apache/incubator-openwhisk-cli/blob/master/README.md">CLI</a>
                <a class="button" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/rest_api.md">REST API</a>
                <a class="button" href="https://github.com/apache/incubator-openwhisk-wskdeploy">Whisk Deploy</a>
            </p>
    </div>
</section>
<section id="developersDoc">
    <div id="content">
        <h2>OpenWhisk Developers</h2>
        <p>
                Function (incl. packages)
                Integrators (database, log, plug-ins, etc.)
                Runtime
                SDK -> new runtimes
                Backend
                Controller (Load balancer, Invoker, Kafka, etc.)
                Tooling
                eskdeploy CLI/clients/etc.
        </p>
    </div>
</section>
<section id="contributorsDoc">
    <div id="content">
        <h2>OpenWhisk Contributors</h2>
        <p>
                includes testing, reviewing PRs, etc.
                how to become a Contributor (reference CWIKI, duplicate info as needed)
                how to become a Committer (reference CWIKI, duplicate info as needed)
                Link to Community (i.e., "dev" list, Slack, GitHub issues. 
        </p>
    </div>
</section>