---
layout: default
---
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
        </div>
    </main>
</section>
<section id="whiskDoc">
    <div id="content">
        <h1>OpenWhisk Documentation</h1>
            <p>
                OpenWhisk documentation is categrorized in three seperate sections based on the following three roles:
            </p>
            <p>
                <a class="button" href="{{ site.github.url }}#usersDoc">Users</a>
                <a class="button" href="{{ site.github.url }}#developersDoc">Developers</a>
                <a class="button" href="{{ site.github.url }}#contributorsDoc">Contributors</a>
            </p>
    </div>
</section>
<section id="usersDoc">
    <div id="content">
        <h2>OpenWhisk Users:</h2>
        <div>
        <h4>Operators:</h4>
        <ul>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk#quick-start">Deployment using Docker-Compose</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk#kubernetes-setup">Deployment using Kubernetes</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk#vagrant-setup">Deployment using Vagrant</a>
            </li>
        </ul>
        <h4>End Users:</h4>
            <ul>
                <li>
                    <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">Write an Action</a>
                </li>
                <li>
                    <a href="https://github.com/apache/incubator-openwhisk-cli/blob/master/README.md">OpenWhisk Command Line Interface (CLI)</a>
                </li>
                <li>
                   <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/rest_api.md">OpenWhisk REST API</a>
                </li>
                <li>
                    <a href="https://raw.githubusercontent.com/openwhisk/openwhisk/master/core/controller/src/main/resources/apiv1swagger.json">OpenWhisk API V1 Swagger</a>
                </li>
                <li>
                    <a href="https://github.com/apache/incubator-openwhisk-wskdeploy">Whisk Deploy</a>
                </li>
                <li>
                    <a href="https://github.com/apache/incubator-openwhisk-apigateway/blob/master/README.md">API Gateway</a>
                </li>
                <li>
                    <a href="https://github.com/apache/incubator-openwhisk-catalog/blob/master/README.md">OpenWhisk Catalog</a>
                </li>
            </ul>

    </div>
</section>
<section id="developersDoc">
    <div id="content">
        <h2>OpenWhisk Developers</h2>
        <ul>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk-client-js/blob/master/README.md">OpenWhisk Client for JavaScript</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk-client-go/blob/master/README.md">OpenWhisk Client for Go</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk-client-swift/blob/master/README.md">OpenWhisk Client for Swift</a>
            </li>
            <li>
                <a href="https://github.com/apache/incubator-openwhisk-client-python/blob/master/README.md">OpenWhisk Client for Python</a>
            </li>
        </ul>
        <p>
                Function (incl. packages)
                Integrators (database, log, plug-ins, etc.)
                Runtime
                SDK -> new runtimes
                Backend
                Controller (Load balancer, Invoker, Kafka, etc.)
                Tooling
                eskdeploy CLI/clients/etc.
        </p>
    </div>
</section>
<section id="contributorsDoc">
    <div id="content">
        <h2>OpenWhisk Contributors</h2>
        <p>
                includes testing, reviewing PRs, etc.
                how to become a Contributor (reference CWIKI, duplicate info as needed)
                how to become a Committer (reference CWIKI, duplicate info as needed)
                Link to Community (i.e., "dev" list, Slack, GitHub issues.
        </p>
    </div>
</section>