---
layout: default
---
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
        </div>
    </main>
</section>
<section id="whiskNodes">
    <main id="doc">
        <div class="content">
            <h1>OpenWhisk Documentation</h1>
            <p>
                <strong>What is OpenWhisk?</strong>
                OpenWhisk is a cloud-first distributed event-based programming service.
                It provides a programming model to upload event handlers to a cloud service,
                and register the handlers to respond to various events.
            </p>
        </div>
    </main>
    <main id="doc">
        <div class="content">
            <h2>OpenWhisk Deployment Options</h2>
            <p>
                The following deployment guides support different installation methods for core OpenWhisk components. 
                Please choose one of the following deployment methods based on your platform:
            </p>
            <ul>
                <li><a href="https://github.com/apache/incubator-openwhisk-deploy-kube/blob/master/README.md">Deploy OpenWhisk to a Kubernetes Cluster</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-devtools/blob/master/docker-compose/README.md">Setup OpenWhisk with Docker Compose</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-deploy-mesos/blob/master/README.md">Deploy OpenWhisk to a Mesos Cluster</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-deploy-openshift/blob/master/README.md">Deploy OpenWhisk on OpenShift</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk/blob/master/ansible/README.md">Deploying OpenWhisk using Ansible</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk#vagrant-setup">Deploying OpenWhisk using Vagrant</a></li>
            </ul>
            <p>
                There are many different deployment methods available but we recommend
                <a href="https://github.com/apache/incubator-openwhisk-deploy-kube/blob/master/README.md">Deploy OpenWhisk to a Kubernetes Cluster</a>
                as its the most easy and quickest way of getting OpenWhisk deployed.
            </p>
        </div>
    </main>
    <main id="doc">
        <div class="content">
            <h2>Using OpenWhisk</h2>
                <ul>
                    <!--li>
                        <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">How to write an action?</a>
                    </li-->
                    <li>
                        <strong>Configure the wsk CLI</strong>
                        With Apache OpenWhisk you can easily create and run actions, or connect to other actions. Use the
                        <a href="https://github.com/apache/incubator-openwhisk-cli/blob/master/README.md">OpenWhisk Command Line Interface (CLI)</a>,
                        target your Apache OpenWhisk instance, and run your first action in seconds. 
                    </li>
                    <li>
                       <strong>OpenWhisk REST API</strong>
                        After your OpenWhisk environment is enabled, you can use OpenWhisk with your web apps or mobile apps with REST API calls.
                        For more details about the APIs for actions, activations, packages, rules, and triggers, see the
                       <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/rest_api.md">OpenWhisk API</a>
                       documentation.
                    </li>
                    <!--li>
                        <strong>OpenWhisk API V1 Swagger:</strong>
                        <a href="https://raw.githubusercontent.com/openwhisk/openwhisk/master/core/controller/src/main/resources/apiv1swagger.json">Here</a>
                        is the swagger file for OpenWhisk API V1.
                    </li-->
                    <li>
                        <strong>Whisk Deploy:</strong>
                        <a href="https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/README.md">Whisk Deploy</a>
                        is an utility to help deploy all your OpenWhisk Packages, Actions, Triggers, and Rules using a single command.
                    </li>
                    <!--li>
                        <strong>API Gateway:</strong>
                        OpenWhisk supports
                        <a href="https://github.com/apache/incubator-openwhisk-apigateway/blob/master/README.md">API Gateway</a>
                        based on OpenResty and Nginx.
                    </li>
                    <li>
                        <strong>OpenWhisk Catalog:</strong>
                        <a href="https://github.com/apache/incubator-openwhisk-catalog/blob/master/README.md">OpenWhisk Catalog</a>
                        maintains the package catalog of openwhisk. OpenWhisk package catalog gives you an easy way to enhance your app with useful capabilities,
                        and to access external services in the ecosystem. 
                    </li-->
                </ul>

        </div>
    </main>
    <main id="doc">
        <div class="content">
            <h2>Creating and Invoking Actions</h2>
            <p>
                <strong>What is an OpenWhisk action?</strong>
                Actions are stateless functions(code snippets) that run on the OpenWhisk platform.
                Actions encapsulates application logic to be executed in response to events.
                You can find more details on specifics of an action in main OpenWhisk GitHub repo at
                <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">incubator-openwhisk</a>.
            </p>
            <p>
                <strong>Which programming language can OpenWhisk action be created in?</strong>
                An action may be created from a function programmed using any of the supported languages
                and runtimes, or from a binary-compatible executable, or even executables packages as Docker containers.
                Here is the list of supported programming languages by OpenWhisk, you can follow language-specific tutorials
                to find out how to write an action in your favorite language:
            </p>
            <ul>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-nodejs/blob/master/README.md">Nodejs</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-docker/blob/master/README.md">Docker</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-go/blob/master/README.md">Go</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-php/blob/master/README.md">PHP</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-python/blob/master/README.md">Python</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-swift/blob/master/README.md">Swift</a></li>
                <li><a href="https://github.com/apache/incubator-openwhisk-runtime-java/blob/master/README.md">Java</a></li>
            </ul>
            <p>
                While the actual function code will be specific to a language and runtime, the OpenWhisk operations to create,
                invoke and manage an action are the same regardless of the implementation choice. OpenWhisk wsk CLI and Whisk Deploy
                specified in Using OpenWhisk section supports action management on OpenWhisk platform. 
            </p>
            <p>
                <strong>What if your preferred language/runtime is not supported by OpenWhisk?</strong>
                If your favorite language is not listed above, you may find the Docker action or native binary path more suitable.
                Or, you can create a new runtime of your choice by reaching out to other whiskers on dev mailing list at
                <a href="mailto:dev@openwhisk.incubator.apache.org">dev@openwhisk.incubator.apache.org</a>.
            </p>
            <p>
                <strong>After you create an action, how can you invoke that action?</strong>
                You can invoke actions manually using OpenWhisk CLI or fire a trigger with which your action is associated with.
                If you are not faimiliar with triggers, we are looking into triggers in next section.
            </p>
            <p>
                <strong>Can an application logic be divided into multiple actions? </strong>
                Multiple actions from different languages may be composed together to create a longer processing pipeline called a
                <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md#creating-action-sequences">sequence</a>.
                Sequence can be treated as an action in terms of it creation and invocation.
            </p>
            <p>Please read
            <a href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">OpenWhisk Actions</a>
            for further details.</p>
        </div>
    </main>
    <main>
        <div>
            <h2>OpenWhisk Packages:</h2>
            <ul>
                <li>
                    <strong>Using the Alarm Package:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-alarms/blob/master/README.md">incubator-openwhisk-package-alarm</a>
                    is an Apache OpenWhisk alarm package that can be used to create periodic, time-based alarms. 
                </li>
                <li>
                    <strong>Using the Cloudant Package:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-cloudant/blob/master/README.md">incubator-openwhisk-package-cloudant</a>
                    enables you to work with a Cloudant database.
                </li>
                <li>
                    <strong>OpenWhisk Package for communication with Kafka:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-kafka/blob/master/README.md">incubator-openwhisk-package-kafka</a>
                    allows you to communicate with Kafka or Message Hub instances for publishing and consuming messages
                    using native high performance Kafka API.
                </li>
                <li>
                    <strong>OpenWhisk RSS Package:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-rss/blob/master/README.md">incubator-openwhisk-package-rss</a>
                    allows users to subscribe to RSS/ATOM feeds and receive events when a new feed item is available.
                </li>
                <li>
                    <strong>Using the Deploy Package:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-deploy/blob/master/README.md">incubator-openwhisk-package-deploy</a>
                    offers a convenient way for you to describe and deploy any part of the OpenWhisk programming model using a Manifest file written in YAML.
                </li>
                <li>
                    <strong>OpenWhisk Package Template:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-template/blob/master/README.md">incubator-openwhisk-package-template</a>
                    is a template for Openwhisk Packages, it can be used to build, test and integrate new packages.
                </li>
                <li>
                    <strong>OpenWhisk Package for Jira:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-package-jira/blob/master/README.md">incubator-openwhisk-package-jira</a>
                    includes actions that interact with JIRA software software development tool used for issue tracking, and project management functions.
                </li>
            </ul>
            <h4>Sample OpenWhisk Applications:</h4>
            <ul>
                <li>
                    <strong>GitHub Slack Bot:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-GitHubSlackBot/blob/master/README.md">incubator-openwhisk-GitHubSlackBot</a>
                    demonstrates integration of GitHub Pull Request management with Slack and using Alarms.
                </li>
                <li>
                    <strong>Serverless Message Archiver To Object Storage (MATOS) Sample Application:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-sample-matos/blob/master/README.md">incubator-openwhisk-sample-matos</a>
                    demonstrates an implementation of a simple pipeline that reads messages from a Message Hub topic and archives them in batches into an Object Storage folder.
                </li>
                <li>
                    <strong>Slackbot for OpenWhisk:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-sample-slackbot/blob/master/README.md">incubator-openwhisk-sample-slackbot</a>
                    a proof-of-concept Slackbot to invoke OpenWhisk actions.
                </li>
                <li>
                    <strong>openwhisk-slackinvite:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-slackinvite/blob/master/README.md">incubator-openwhisk-slackinvite</a>
                    implements invitations for Apache OpenWhisk Slack Community.
                </li>
            </ul>
            <h4>Tutorial and Workshop:</h4>
            <ul>
                <li>
                    <strong>OpenWhisk Tutorial:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-tutorial/blob/master/README.md">incubator-openwhisk-tutorial</a>
                    contains an interactive tutorials for the OpenWhisk CLI.
                </li>
                <li>
                    <strong>OpenWhisk Workshop:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-workshop/blob/master/README.md">incubator-openwhisk-workshop</a>
                    provides a series of exercises to help you understand how to use OpenWhisk to build serverless applications.
                </li>
            </ul>
            <h4>Development Tools:</h4>
            <ul>
                <li>
                    <strong>The OpenWhisk Debugger:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-debugger/blob/master/client/README.md">incubator-openwhisk-debugger</a>
                    supports debugging OpenWhisk actions. The debugger will arrange things so that the actions you wish to debug will be offloaded from the main OpenWhisk servers
                    and instead run locally on your laptop. You can then, from within the debugger, inspect and modify values.
                </li>
            </ul>

            <!--p>
                    Function (incl. packages)
                    Integrators (database, log, plug-ins, etc.)
                    Runtime
                    SDK -> new runtimes
                    Backend
                    Controller (Load balancer, Invoker, Kafka, etc.)
                    Tooling
                    eskdeploy CLI/clients/etc.
            </p-->
            <h4>OpenWhisk Clients:</h4>
            <ul>
                <li>
                    <strong>JavaScript:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-client-js/blob/master/README.md" style="font-weight:bold">incubator-openwhisk-client-js</a>
                    is the JavaScript client library which Provides a wrapper around the OpenWhisk APIs.
                </li>
                <li>
                    <strong>Go:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-client-go/blob/master/README.md">incubator-openwhisk-client-go</a>
                    is a Go client library to access OpenWhisk API.
                </li>
                <li>
                    <strong>Swift:</strong>
                    <a href="https://github.com/apache/incubator-openwhisk-client-swift/blob/master/README.md">incubator-openwhisk-client-swift</a>
                    is a Swift based client SDK for OpenWhisk which can be used to connect to OpenWhisk.
                    It partially implements the OpenWhisk REST API and allows you to invoke actions and fire triggers.
                </li>
                <li>
                    <strong>Python:</strong>
                    There is no official Python client for OpenWhisk at the moment. However, 
                    <a href="https://github.com/apache/incubator-openwhisk-client-python/blob/master/README.md">incubator-openwhisk-client-python</a>
                    shows an example of how OpenWhisk REST API can be used directly from Python.
                </li>
            </ul>
        </div>
    </main>
    <main id="doc">
        <div class="content" name="contributorsDoc">
            <h2>OpenWhisk Contributors</h2>
            <!--p>
                    includes testing, reviewing PRs, etc.
                    how to become a Contributor (reference CWIKI, duplicate info as needed)
                    how to become a Committer (reference CWIKI, duplicate info as needed)
                    Link to Community (i.e., "dev" list, Slack, GitHub issues.
            </p-->
        </div>
    </main>
</section>