---
layout: default
---
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
            <h1>Open Source Serverless Cloud Platform</h1>
            <h5>Executes functions in response to events at any scale</h5>
        </div>
    </main>
</section>
<section id="whiskNodes">
    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/elements/OW-Abstract Diagram.png" alt="Events trigger the Apache OpenWhisk platform to run Actions or functions in various supported languages."/>
        </div>
        <div class="content">
            <h4>What is Apache OpenWhisk?</h4>
            <p>
                Apache OpenWhisk (Incubating) is an open source, distributed <a href="{{ site.github.url }}/serverless" style="font-weight:bold">Serverless</a> platform that executes functions (<span style="font-family:Times New Roman,Georgia,Serif">fx</span>) in response to events at any scale. OpenWhisk manages the infrastructure, servers and scaling using Docker containers so you can focus on building amazing and efficient applications.
            </p>
            <p>
                The OpenWhisk platform supports a programming model in which developers write functional logic (called <span style="font-weight:bold">Actions</span>), in any supported programming language, that can be dynamically scheduled and run in response to associated events (via <span style="font-weight:bold">Triggers</span>) from external sources (<span style="font-weight:bold">Feeds</span>) or from HTTP requests. The project includes a REST API-based Command Line Interface (CLI) along with other tooling to support packaging, catalog services and many popular container deployment options.
            </p>
            <div class="content">
                <a class="button" href="https://github.com/apache/incubator-openwhisk#quick-start">Create Your Local Playground</a>
            </div>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-cost-effective.svg" alt="Apache OpenWhisk allows you to focus on your code"/>
        </div>
        <div class="content">
            <h4>Focus only on your code</h4>
            <p>
                As a developer there's no need to manage the servers that run your code.
                Apache OpenWhisk operates and scales your application for you.
                Spend your time innovating, not configuring infrastructure. Plus,
                you only pay for what your app uses and needs at that moment.
            </p>
           <a class="button" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">Create Your First Action</a>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
                <img src="{{ site.github.url }}/images/Node.js_logo.svg" alt="Node Runtime"/>
                <!--img src="{{ site.github.url }}/images/Swift_logo_with_text.svg" alt="Swift Runtime"/>
                <img src="{{ site.github.url }}/images/Java_Logo.svg" alt="Java Runtime"/>
                <img src="{{ site.github.url }}/images/gopher-front.svg" alt="Go Lang Runtime"/>
                <img src="{{ site.github.url }}/images/Docker_container_engine_logo.svg" alt="Docker Runtime"/>
                <img src="{{ site.github.url }}/images/Python-logo-notext.svg" alt="Python Runtime"/>
                <img src="{{ site.github.url }}/images/PHP-logo.svg" alt="PHP Runtime"/>
                <img src="{{ site.github.url }}/images/scala-logo.svg" alt="Scala Runtime"/>
                <img src="{{ site.github.url }}/images/Rust_programming_language_black_logo.svg" alt="Rust Lang Runtime"/>
                <img src="{{ site.github.url }}/images/Haskell-Logo.svg" alt="Haskell Runtime"/-->
        </div>
        <div class="content">
            <h4>Runtimes Support</h4>
            <p>
                Work with what you know and love. Integrate popular services. Code in your
                favorite languages. All the pieces connect and are easy to extend. The list
                supported runtimes:
                <a href="https://github.com/apache/incubator-openwhisk-runtime-nodejs">NodeJS</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-swift">Swift</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-java">Java</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-go">Go</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-java">Scala</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-docker">Docker</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-python">Python</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-php">PHP</a>,
                <a href="https://medium.com/openwhisk/openwhisk-and-rust-lang-24025734a834">Rust</a>, and
                <a href="https://github.com/rainbyte/openwhisk-wrapper">Haskell</a>.
            </p>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-developers-flexible.svg" alt="Apache OpenWhisk is integrates with many popular languages and apps"/>
        </div>
        <div class="content">
            <h4>High-level Programming Models &amp; Compositions</h2>
            <p>
                Code in different languages like JavaScript/NodeJS, Swift, Python,
                Java or run custom logic by packaging code with Docker.
                Invoke your code synchronously, asynchronously, or on a schedule.
                Use higher-level programming constructs like sequences to declaratively
                chain together multiple actions.
                Use parameter binding to avoid hardcoding service credentials in your code.
                And also, debug your code in realtime.
            </p>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-developers-scaling.svg" alt="Apache OpenWhisk scaling and utilization">
        </div>
        <div class="content">
              <h4>Scaling Per-Request &amp; Optimal Utilization</h4>
              <p>
                  Run your action ten thousand times in a fraction of a second, or once
                  a week. Action instances scale to meet demand as needed, then disappear.
                  Enjoy optimal utilization where you don't pay for idle resources.
              </p>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-integrators.svg" alt="Apache OpenWhisk benefits for package creators"/>
        </div>
        <div class="content">
            <h4>Plug your service into Apache OpenWhisk</h4>
            <p>
                Apache OpenWhisk makes it simple for thousands of developers to
                integrate with your service. Make it easy for developers to perform
                actions when something happens in your service, or to send data into
                your service when things happen somewhere else.
            </p>
        </div>
    </main>
    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/apache-openwhisk-action-animation.gif" alt="Get started with Apache OpenWhisk"/>
        </div>
        <div class="content">
            <h4>Easy as 1-2-3</h4>
            <p>
                With Apache OpenWhisk you can easily create actions, test, connect to other
                actions or debug them. Use the
                <a class="where-to-start__link" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/cli.md#openwhisk-cli">
                Apache OpenWhisk CLI</a>,
                target your Apache OpenWhisk instance, and run your first action in seconds.
            </p>
        </div>
    </main>
    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-contributors.svg" alt="Apache OpenWhisk benefits for open source contributors"/>
        </div>
        <div class="content">
            <h4>Join a vibrant open source community</h4>
            <p>
                Play a critical part in building game-changing cloud technology.
                Share your actions and triggers with the community, add your service to
                the Apache OpenWhisk ecosystem, or join the development effort to
                make Apache OpenWhisk even better.
            </p>
        </div>
    </main>
</section>

<!--section class="site-section">
  <div class="quotes quotes--compact">
    <blockquote id="quote1" class="quotes__quote">
      <div class="quotes__text quotes__text--compact">
        <p>
          “Thanks to serverless computing we can go even further. The new world
          needs to be asynchronous and elastic by design, and OpenWhisk provides
          the features that we need.”
        </p>
        <p class="quotes__attribution quotes__attribution--compact">
          – Luis Enriquez,
            Head of Platform Engineering &amp; Architecture at Santander Group
        </p>
      </div>
    </blockquote>
  </div>
</section-->
