---
layout: default
---
<!--
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
-->
<section id="whiskHeader" class="light-text bot-bar">
    <main>
        <div>
            <h1>Open Source Serverless Cloud Platform</h1>
            <h5>Executes functions in response to events at any scale</h5>
        </div>
    </main>
</section>
<section id="whiskNodes">
    <main>
        <div class="content">
            <h4>What is Apache OpenWhisk?</h4>
            <p>
                Apache OpenWhisk (Incubating) is an open source, distributed <a href="{{ site.github.url }}/serverless" style="font-weight:bold">Serverless</a> platform that executes functions (<span style="font-family:Times New Roman,Georgia,Serif">fx</span>) in response to events at any scale. OpenWhisk manages the infrastructure, servers and scaling using Docker containers so you can focus on building amazing and efficient applications.
            </p>
            <p>
                The OpenWhisk platform supports a programming model in which developers write functional logic (called <span style="font-weight:bold">Actions</span>), in any supported programming language, that can be dynamically scheduled and run in response to associated events (via <span style="font-weight:bold">Triggers</span>) from external sources (<span style="font-weight:bold">Feeds</span>) or from HTTP requests. The project includes a REST API-based Command Line Interface (CLI) along with other tooling to support packaging, catalog services and many popular container deployment options.
            </p>
            <a class="button" href="https://github.com/apache/incubator-openwhisk#quick-start">Create Your Local Playground</a>
        </div>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/elements/OW-Abstract Architecture Diagram.png" alt="Events trigger the Apache OpenWhisk platform to run Actions or functions in various supported languages."/>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/deployments/OW-Deployments.png" alt="Apache OpenWhisk can deploy on your favorite Cloud container framework."/>
        </div>
        <div class="content">
            <h4>Deploys anywhere</h4>
            <p>
                Since Apache OpenWhisk builds its components using containers it easily supports many deployment options both locally and within Cloud infrastructures. Options include many of today's popular Container frameworks such as <a style="font-weight:bold" href="https://github.com/apache/incubator-openwhisk-deploy-kube/blob/master/README.md">Kubernetes</a>, <a style="font-weight:bold" href="https://github.com/apache/incubator-openwhisk-deploy-mesos/blob/master/README.md">Mesos</a> and <a style="font-weight:bold" href="https://github.com/apache/incubator-openwhisk-devtools/blob/master/docker-compose/README.md">Compose</a>.  Recent contributions even include deployment options such as <a style="font-weight:bold" href="https://github.com/apache/incubator-openwhisk-deploy-kube/blob/master/docs/minikube.md">Minikube</a> and <a style="font-weight:bold" href="https://github.com/apache/incubator-openwhisk-deploy-openshift/blob/master/README.md">OpenShift</a>.
            </p>
        </div>
    </main>

    <main>
        <div class="content">
            <h4>Write functions in any language</h4>
            <p>
                Work with what you know and love. Code in your favorite languages such as
                <a href="https://github.com/apache/incubator-openwhisk-runtime-nodejs">NodeJS</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-swift">Swift</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-java">Java</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-go">Go</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-java">Scala</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-docker">Docker</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-python">Python</a>,
                <a href="https://github.com/apache/incubator-openwhisk-runtime-php">PHP</a>,
                <a href="https://medium.com/openwhisk/openwhisk-and-rust-lang-24025734a834">Rust</a>, and
                <a href="https://github.com/rainbyte/openwhisk-wrapper">Haskell</a>.  If you are using NodeJS and need libraries the "out-of-the-box" runtimes do not have, then package your own using ZIP actions and the <a href="https://github.com/apache/incubator-openwhisk-runtime-docker/blob/master/README.md">Docker runtime</a> or create and customize your own runtime environment using our <a href="https://github.com/apache/incubator-openwhisk-runtime-docker/blob/master/sdk/docker/README.md">Docker SDK</a>.
            </p>
            <a class="button" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md">Create Your First Action</a>
        </div>
        <div class="image-wrapper">
                <img src="{{ site.github.url }}/images/Node.js_logo.svg" alt="Node Runtime"/>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-integrators.svg" alt="Apache OpenWhisk benefits for package creators"/>
        </div>
        <div class="content">
            <h4>Feed providers / Catalog (integrations, packages)</h4>
            <p>
                With Apache OpenWhisk you can easily create actions, test, connect to other
                actions or debug them. Use the
                <a class="where-to-start__link" href="https://github.com/apache/incubator-openwhisk/blob/master/docs/cli.md#openwhisk-cli">
                Apache OpenWhisk CLI</a>,
                target your Apache OpenWhisk instance, and run your first action in seconds.
            </p>
            <p>
                Apache OpenWhisk makes it simple for thousands of developers to
                integrate with your service. Make it easy for developers to perform
                actions when something happens in your service, or to send data into
                your service when things happen somewhere else.
            </p>
        </div>
    </main>

    <main>
        <div class="content">
            <h4>High-level Programming Models &amp; Compositions</h2>
            <p>
                Code in different languages like JavaScript/NodeJS, Swift, Python,
                Java or run custom logic by packaging code with Docker.
                Invoke your code synchronously, asynchronously, or on a schedule.
                Use higher-level programming constructs like sequences to declaratively
                chain together multiple actions.
                Use parameter binding to avoid hardcoding service credentials in your code.
                And also, debug your code in realtime.
            </p>
        </div>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-developers-flexible.svg" alt="Apache OpenWhisk is integrates with many popular languages and apps"/>
        </div>
    </main>

    <main>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-developers-scaling.svg" alt="Apache OpenWhisk scaling and utilization">
        </div>
        <div class="content">
              <h4>Scaling Per-Request &amp; Optimal Utilization</h4>
              <p>
                  Run your action ten thousand times in a fraction of a second, or once
                  a week. Action instances scale to meet demand as needed, then disappear.
                  Enjoy optimal utilization where you don't pay for idle resources.
              </p>
        </div>
    </main>

    <main>
        <div class="content">
            <h4>Join a vibrant open source community</h4>
            <p>
                Play a critical part in building game-changing cloud technology.
                Share your actions and triggers with the community, add your service to
                the Apache OpenWhisk ecosystem, or join the development effort to
                make Apache OpenWhisk even better.
            </p>
        </div>
        <div class="image-wrapper">
            <img src="{{ site.github.url }}/images/illustration-contributors.svg" alt="Apache OpenWhisk benefits for open source contributors"/>
        </div>
    </main>
</section>
